# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_ADMIN_ID="YOUR_TELEGRAM_ADMIN_ID"

# Email Configuration (for sending replies from Telegram to users)
SMTP_USER="ozodbekahmedov12007@gmail.com"
SMTP_PASS="tvliaxtwevnhakkq"
RESEND_API_KEY=""

# App URL
APP_URL="https://ais-dev-rmgam3lgkcvjnwnqrkx3mb-286698538942.asia-southeast1.run.app"
